@font-face {
	font-family: 'HelveticaNowTextExtraBold';
	src: url(../../assets/fonts/HelveticaNowTextExtraBold.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNowTextExtraBold.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNowTextExtraBold.woff2) format('woff2'),
	url(../../assets/fonts/HelveticaNowTextExtraBold.woff) format('woff'),
	url(../../assets/fonts/HelveticaNowTextExtraBold.ttf) format('truetype'),
	url(../../assets/fonts/HelveticaNowTextExtraBold.svg) format('svg');
	font-weight: 400;
	font-style: normal;
}