@font-face {
	font-family: 'HelveticaNowTextThinItalic';
	src: url(../../assets/fonts/HelveticaNowTextThinItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNowTextThinItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNowTextThinItalic.woff2) format('woff2'),
	url(../../assets/fonts/HelveticaNowTextThinItalic.woff) format('woff'),
	url(../../assets/fonts/HelveticaNowTextThinItalic.ttf) format('truetype'),
	url(../../assets/fonts/HelveticaNowTextThinItalic.svg) format('svg');
	font-weight: 400;
	font-style: normal;
}