@font-face {
	font-family: 'HelveticaNowTextThin';
	src: url(../../assets/fonts/HelveticaNowTextThin.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNowTextThin.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNowTextThin.woff2) format('woff2'),
	url(../../assets/fonts/HelveticaNowTextThin.woff) format('woff'),
	url(../../assets/fonts/HelveticaNowTextThin.ttf) format('truetype'),
	url(../../assets/fonts/HelveticaNowTextThin.svg) format('svg');
	font-weight: 400;
	font-style: normal;
}