@font-face {
	font-family: 'HelveticaNowTextMediumItalic';
	src: url(../../assets/fonts/HelveticaNowTextMediumItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNowTextMediumItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNowTextMediumItalic.woff2) format('woff2'),
	url(../../assets/fonts/HelveticaNowTextMediumItalic.woff) format('woff'),
	url(../../assets/fonts/HelveticaNowTextMediumItalic.ttf) format('truetype'),
	url(../../assets/fonts/HelveticaNowTextMediumItalic.svg) format('svg');
	font-weight: 400;
	font-style: normal;
}