@font-face {
	font-family: 'HelveticaNowTextExtLtIta';
	src: url(../../assets/fonts/HelveticaNowTextExtLtIta.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNowTextExtLtIta.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNowTextExtLtIta.woff2) format('woff2'),
	url(../../assets/fonts/HelveticaNowTextExtLtIta.woff) format('woff'),
	url(../../assets/fonts/HelveticaNowTextExtLtIta.ttf) format('truetype'),
	url(../../assets/fonts/HelveticaNowTextExtLtIta.svg) format('svg');
	font-weight: 400;
	font-style: normal;
}