@font-face {
	font-family: 'HelveticaNowTextBlackItalic';
	src: url(../../assets/fonts/HelveticaNowTextBlackItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNowTextBlackItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNowTextBlackItalic.woff2) format('woff2'),
	url(../../assets/fonts/HelveticaNowTextBlackItalic.woff) format('woff'),
	url(../../assets/fonts/HelveticaNowTextBlackItalic.ttf) format('truetype'),
	url(../../assets/fonts/HelveticaNowTextBlackItalic.svg) format('svg');
	font-weight: 400;
	font-style: normal;
}