@font-face {
	font-family: 'HelveticaNowTextRegIta';
	src: url(../../assets/fonts/HelveticaNowTextRegIta.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNowTextRegIta.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNowTextRegIta.woff2) format('woff2'),
	url(../../assets/fonts/HelveticaNowTextRegIta.woff) format('woff'),
	url(../../assets/fonts/HelveticaNowTextRegIta.ttf) format('truetype'),
	url(../../assets/fonts/HelveticaNowTextRegIta.svg) format('svg');
	font-weight: 400;
	font-style: normal;
}