@font-face {
	font-family: 'HelveticaNowMicroLight';
	src: url(../../assets/fonts/HelveticaNowMicroLight.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNowMicroLight.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNowMicroLight.woff2) format('woff2'),
	url(../../assets/fonts/HelveticaNowMicroLight.woff) format('woff'),
	url(../../assets/fonts/HelveticaNowMicroLight.ttf) format('truetype'),
	url(../../assets/fonts/HelveticaNowMicroLight.svg) format('svg');
	font-weight: 400;
	font-style: normal;
}