@font-face {
	font-family: 'HelveticaNowMicroExtBdIta';
	src: url(../../assets/fonts/HelveticaNowMicroExtBdIta.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNowMicroExtBdIta.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNowMicroExtBdIta.woff2) format('woff2'),
	url(../../assets/fonts/HelveticaNowMicroExtBdIta.woff) format('woff'),
	url(../../assets/fonts/HelveticaNowMicroExtBdIta.ttf) format('truetype'),
	url(../../assets/fonts/HelveticaNowMicroExtBdIta.svg) format('svg');
	font-weight: 400;
	font-style: normal;
}