@font-face {
	font-family: 'HelveticaNowMicroExtraLight';
	src: url(../../assets/fonts/HelveticaNowMicroExtraLight.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNowMicroExtraLight.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNowMicroExtraLight.woff2) format('woff2'),
	url(../../assets/fonts/HelveticaNowMicroExtraLight.woff) format('woff'),
	url(../../assets/fonts/HelveticaNowMicroExtraLight.ttf) format('truetype'),
	url(../../assets/fonts/HelveticaNowMicroExtraLight.svg) format('svg');
	font-weight: 400;
	font-style: normal;
}