@font-face {
	font-family: 'HelveticaNowTextExtraLight';
	src: url(../../assets/fonts/HelveticaNowTextExtraLight.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNowTextExtraLight.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNowTextExtraLight.woff2) format('woff2'),
	url(../../assets/fonts/HelveticaNowTextExtraLight.woff) format('woff'),
	url(../../assets/fonts/HelveticaNowTextExtraLight.ttf) format('truetype'),
	url(../../assets/fonts/HelveticaNowTextExtraLight.svg) format('svg');
	font-weight: 400;
	font-style: normal;
}