:root {
  --navbar-bg-color: hsl(207, 100%, 20%);
  --navbar-text-color: hsl(0, 0%, 85%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: hsl(207, 100%, 40%);
}

#navbar {
  --navbar-height: 31px;
  position: fixed;
  height: var(--navbar-height);
  background-color: #236192;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  top: 0;
  z-index: 3;
  border: hidden;
  padding-left: 50px;
  font-size: larger;
}

#navbarB {
  --navbar-height: 31px;
  position: fixed;
  height: var(--navbar-height);
  background-color: #faf1d6;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  top: 31px;
  z-index: 2;
  border: hidden;
  /*justify-content: center;*/
  padding-top: 15px;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  font-variant: small-caps;
  font-family: 'HelveticaNowMicroMedium';
}

.home-link, .navbar-link {
  color: #ffffff;
  /*transition: color 0.2s ease-in-out;*/
  /*text-decoration: none;*/
  /*display: flex;*/
  /*font-weight: 400;*/
  /*align-items: center;*/
  /*transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;*/
  font-size: 3vmin;
}

.navbar-link:focus, .navbar-link:hover {
  color: #ffffff;
  /*background-color: var(--navbar-bg-contrast);*/
}

@media screen and (min-width: 700px) {
  #navbar #navbar-menu, #navbar.opened #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: flex;
    height: 100%;
    justify-content: stretch;
    float: right;
    width: 80%;
  }
}

