.social-icons {
  color: #231f20!important;
  text-align: center;
}

.social-icons i {
  font-size: calc(75px + 1.5vw);
  display: inline-block;
  color: #231f20!important;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  line-height: 60px;
  margin-right: calc(75px + 1.5vw);
  margin-left: calc(75px + 1.5vw);
}

#soc:hover {
  color: #007a33!important;
  transform: scale(1.2);
}

#soclink {
  color: #236192!important;
  font-family: 'HelveticaNowDisplay Bold';
  letter-spacing: .1em!important;
  font-size: calc(14px + 1.15vw)!important;
}

@media (max-width: 446px) {
  #soclink {
    /*color: #236192!important;*/
    /*font-family: 'HelveticaNowDisplay Bold';*/
    /*letter-spacing: .1em!important;*/
    font-size: calc(12px + 1.15vw)!important;
  }
}

#SocActive {
  color: #236192!important;
}

#contactMethod {
  /*border-bottom: solid;*/
  border-width: 2.5vh!important;
  border-color: #236192;
  border-radius: 7.5px;
}

